* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

:root {
  --main-color: #5cd2b8;
  --section-color: #151515;

  --main-transtion: 0.5s;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background-color: #1d3934;
}

.container {
  padding: 0px 15px;
  margin: 0px auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.typing-text {
  width: fit-content;
  letter-spacing: 5px;
  position: relative;
}

.typing-text::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  border-left: 2px solid var(--main-color);
  animation: typing 2s steps(30) infinite alternate;
}

@keyframes typing {
  to {
    left: 100%;
    margin-left: 5px;
    width: 5px;
  }
}

.hr-style {
  width: 100px;
  border: 2px solid var(--main-color);
}

@media (max-width: 768px) {
  h1 {
    font-size: 20px;
  }
}

/* Start Header  */
.header {
  padding: 5px 20px;
  background-color: #262626;
}

.header>img {
  width: 200px;
}

.header>a {
  color: white;
  background-color: #78c700;
  padding: 5px 10px;
  border-radius: 10px;
}

/* End Header  */

/* Start Nav  */
.nav-text h1 {
  margin: 0px;
  font-size: 60px;
  font-weight: bold;
}

.nav-text p {
  font-size: 5px;
  letter-spacing: 5px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
}

.links li {
  padding: 0px 20px;
  transition: var(--main-transtion);
}

.links li:hover a {
  color: var(--main-color);
}

.links li:hover {
  transform: scale(1.3);
}

.nav .icon,
.nav .bar {
  padding: 0px 10px;
  cursor: pointer;
}

.nav .bar {
  display: none;
}

@media (max-width: 995px) {
  .nav .links li {
    padding: 0px 10px;
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .nav .right-side {
    flex-direction: row-reverse;
  }

  .nav .right-side .links {
    display: none;
  }

  .nav .bar {
    display: block;
  }

  .nav .bar:hover+.links {
    z-index: 10;
    padding: 10px;
    position: absolute;
    left: 0px;
    top: 130px;
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    background-color: var(--section-color);
  }

  .links li a {
    font-size: 20px;
  }

  .links li:hover {
    translate: 20px;
  }
}

/* End Nav  */

/* Start home  */

.home {
  overflow: hidden;
  height: 80vh;
  position: relative;
  background: linear-gradient(to right, black 40%, #1d3934);
}

.home::before {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-image: url("../images/portrait.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 500px;
  height: 80vh;
  width: 500px;
}

.home::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, black 40%, #1d3934);
  opacity: .6;
}

.home .container>div {
  margin-top: 50px;
  width: 70%;
  flex-direction: column;
  z-index: 1;
}

.home .container>div h1 {
  margin: 0px;
  font-size: 60px;
  font-weight: bold;
}

.home .container>div .play {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 25px;
  border: 4px solid #049f7d;
  outline: 4px solid #1a907bbd;
  position: relative;
  transition: var(--main-transtion);
}

.home .container>div .play::after {
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  border-radius: 50%;
  border-color: transparent transparent #006c58 transparent;
  border-width: 8px;
  border-style: solid;
  transition: var(--main-transtion);
}

.home .container>div .play:hover {
  font-size: 35px;
}

.home .container>div .play:hover::after {
  transform: rotate(180deg);
}

.home .container>div .text hr {
  border: 0.1px solid #2e2e2e;
}

@media (max-width: 995px) {
  .home .container>div h1 {
    font-size: 40px;
  }

  .home .container>div p:nth-of-type(2) {
    width: 80%;
  }
}

@media (max-width: 768px) {
  /* .home::before {
    background-image: none;
  } */

  .home .container>div {
    width: 100%;
    gap: 30px;
    margin-bottom: 20px;
  }
}

/* End home  */

/* Start services  */
.services {
  min-height: 50vh;
  padding: 50px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services .container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.services-text a {
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
}

.services-text a:hover {
  background-color: transparent;
  box-shadow: 0px 0px 10px var(--main-color);
}

.services-boxs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  text-align: center;
}

.services-boxs .color-gradient {
  background: linear-gradient(to bottom, black, #1d3934);
}

.services-boxs .box {
  transition: var(--main-transtion);
  cursor: pointer;
  height: 200px;
}

.services-boxs .box:hover {
  transform: translateY(-10px);
}

.services-boxs .box:hover h3 {
  color: var(--main-color);
}

.services-boxs .box:hover p {
  color: white;
}

.services-boxs .position {
  margin-top: 30px;
}

.services-boxs .box:nth-child(1):hover,
.services-boxs .box:nth-child(4):hover {
  background: linear-gradient(to bottom, black, #1d3934);
}

.services-boxs .color-gradient:hover {
  background: linear-gradient(to bottom, black, #151515);
}

.trans {
  transform: translateY(30px);
}

.services-boxs .box {
  border-radius: 15px;
}

.box img {
  width: 80px;
}

@media (max-width: 995px) {
  .services .container {
    grid-template-columns: auto;
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .services-boxs {
    grid-template-columns: 1fr;
  }

  .services {
    padding: 20px 0px;
  }

  .trans {
    transform: translateY(0px);
  }
}

/* End services  */

/* Start about us */
.aboutus {
  padding-bottom: 0px;
}

.aboutus .container>img {
  width: 300px;
}

.aboutus .container .about>p:first-child::after,
.testimonials .container .services-text p:first-child::after {
  background-color: var(--section-color);
}

@media (max-width: 995px) {
  .aboutus .container .about .about-box {
    text-align: center;
  }

  .aboutus .container {
    flex-direction: column-reverse;
  }

  /* .aboutus .container > img {
    display: none;
  } */
}

.details,
.our-team,
.members {
  background-image: url("../images/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.details .details-box {
  background: linear-gradient(to left, #000000c2, #1d3934);
  min-height: 200px;
  justify-content: space-evenly;
}

.details .details-box .box {
  text-align: center;
}

.details .details-box .box img {
  filter: grayscale(100%);
  transition: var(--main-transtion);
}

.details .details-box .box img:hover {
  filter: grayscale(0%);
}

@media (max-width: 768px) {
  .about-box {
    flex-direction: column;
  }

  .about-box .box {
    flex-direction: column;
  }

  .details .details-box {
    flex-direction: column;
  }

  .special-box .details-box img {
    width: 100%;
  }
}

/* End about us */

/* Start latest project */

.latest-project {
  overflow: hidden;
}

.latest-project .container img {
  width: 350px;
}

.latest-project .container div .info {
  justify-content: space-between;
}

.latest-project .container .images {
  justify-content: space-between;
  flex-wrap: wrap;
}

.latest-project .img {
  position: relative;
}

.latest-project .img::before {
  content: attr(value);
  color: transparent;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 0%;
  background-color: rgb(0, 0, 0, .7);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  transition: var(--main-transtion);
  font-weight: bold;
}

.latest-project .img:hover::before {
  color: white;
  height: 100%;
}

.latest-project .img i {
  border-radius: 50%;
}

.latest-project .img>div {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: var(--main-transtion);
}

.latest-project .img:hover div {
  top: 35%;
  opacity: 1;
}

@media (max-width: 1200px) {
  .latest-project .container .special-img {
    display: none;
  }

  .latest-project .container .images .img:first-child {
    display: inline-block;
  }
}

@media (max-width: 768px) {
  .latest-project .container .img {
    width: 300px;
    margin: auto;
  }

  .latest-project .container img {
    width: 100%;
  }
}

.special-box img {
  width: 10vw;
}

.special-box {
  background-image: url("../images/side-view-portrait-of-a-woman-with-make-up-CTUMAUJ.jpg");
  background-position: left;
}

.special-box .details-box {
  background: linear-gradient(to right, #000000c2, #1d3934);
}

@media (max-width: 768px) {
  .special-box img {
    width: 50%;
  }
}

/* End latest project */
/* Start Section  */
.section {
  min-height: 70vh;
}

.section .container div .info {
  width: 100%;
}

.section .container .images div img {
  width: 40vw;
  height: 300px;
  cursor: pointer;
}

.section .container .images>div {
  position: relative;
}

.section .container .images i {
  font-size: 30px;
  padding: 30px;
  border-radius: 50%;
  border: 3px solid white;
  opacity: .7;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.section .trans {
  transform: translateY(0);
  margin-top: 150px;
}

@media (max-width: 1200px) {
  .section .container>div:first-child {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .section .container .images div {
    width: 350px;
  }

  .section .container .images div img {
    width: 100%;
  }

  .section .trans {
    margin-top: 0px;
  }

  .our-team .container .info {
    width: 100%;
  }
}

/* End Section  */

/* Start our team  */
.our-team,
.members {
  background-image: url("../images/Bg-1.jpg");
  z-index: -1;
}

.our-team .container .info .typing-text::after {
  background-color: #0c0c0c;
}

.our-team .container .info,
.portfolio .container .info {
  text-align: center;
  width: 60%;
}

@media (max-width: 768px) {

  .our-team .container .info,
  .portfolio .container .info {
    width: 100%;
  }

  .our-team .container .info .typing-text::after {
    background-color: black;
  }

  .members {
    background-image: none;
    background-color: black;
    padding: 20px 0px;
  }
}

.members .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 50px;
}

.members .container .box {
  background-color: #151515;
  border-radius: 20px;
  position: relative;
  padding: 0px 20px;
}

.members .container .box .img {
  position: relative;
  height: 100%;
}

.members .container .box img {
  height: 110%;
  width: 200px;
  filter: grayscale(100%);
  transform: translateY(-9%);
  transition: var(--main-transtion);
  position: relative;
  z-index: 4;
}

.members .container .box .img span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0px;
  height: 1px;
  border-radius: 50%;
  background-image: radial-gradient(circle 250px at center, #5cd2b8, black);
  box-shadow: 0px 0px 50px 50px #5cd2b882;
  z-index: 3;
}

.members .container .box:hover img {
  filter: grayscale(0%);
}

.container .social li {
  transition: var(--main-transtion);
}

.container .social li:hover a {
  text-shadow: 0px 0px 10px var(--main-color);
}

.container .social li:hover {
  transform: scale(1.5);
}

@media (max-width : 768px) {
  .members .container .box .info {
    align-items: center;
    text-align: center;
  }

  .members .container .box .img {
    width: 100%;
  }

  .members .container .box img {
    width: 100%;
  }
}

/* End our team  */
/* Start prtfolio  */
.portfolio {
  padding: 20px 0px;
}

.portfolio .container .images img {
  width: 350px;
  border-radius: 10px;
}

.portfolio .container .images {
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
}

@media (max-width : 768px) {
  .portfolio .container .images img {
    width: 80%;
  }

  .portfolio .container .images {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.testimonials .container>.info {
  width: 100%;
  text-align: start;
  background-color: #1f1e1ea6;
  padding: 30px;
}

.testimonials .container .qoute {
  background-color: var(--main-color);
  background-clip: text;
  -webkit-text-stroke: 5px transparent;
  font-size: 80px;
  font-family: "DM Serif Text", serif;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 3px;
  transform: translateY(-25%);
  padding: 5px;
  margin-left: 20px;
}

.testimonials img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.testimonials {
  background-image: url("../images/adadad.png");
  background-position: center;
  /* backdrop-filter: ; */
  background-repeat: no-repeat;
  background-size: 1000px;
  padding: 20px 0px;
}

@media (max-width : 1050px) {
  .testimonials .container {
    flex-direction: column;
  }
}

@media (max-width : 768px) {
  .testimonials .container>div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* End prtfolio  */

/* Start Latest News */

.Latest-news .container .boxs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  padding-bottom: 50px;
}

.Latest-news .container .boxs .box {
  overflow: hidden;
  padding: 20px;
  background-image: linear-gradient(to bottom, #1d3934 60%, black);
}

.Latest-news .container .boxs .box img {
  width: 100%;
  transition: var(--main-transtion);
}

.Latest-news .container .boxs .box div:first-child {
  overflow: hidden;
}

.Latest-news .container .boxs .box:hover img {
  transform: scale(1.1);
}

@media (max-width : 768px) {
  .Latest-news .container .boxs .box {
    text-align: center;
  }

  .Latest-news .container .boxs .box h4 {
    font-size: 15px;
  }

  .Latest-news .container .boxs .box .icon {
    justify-content: center;
    gap: 50px;
  }
}

/* End Latest News */

/* Start contact us */
/* .contact-us {
  background: linear-gradient(to right, black 60%, #1d3934);
} */
.contact-us {
  background-image: url("../images/FB_IMG_1724137609279.jpg");
  background-position: center;
}

.contact-us .container {
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-bottom: 50px;
}

.contact-us .container div div div i {
  font-size: 40px;
}

.contact-us .container>div {
  width: 45%;
  min-height: 300px;
}

.contact-us .container form {
  border: 1px solid #0ef;
  padding: 30px;
}

.contact-us .container>.form form>div {
  width: 100%;
}

.contact-us .container>div input,
.contact-us .container>div textarea {
  width: 100%;
  background-color: #181818b5;
  outline: none;
  border: 1px solid var(--main-color);
  padding: 10px;
  margin-top: 10px;
  caret-color: var(--main-color);
  color: white;
}

.contact-us .container>div textarea {
  height: 200px;
  resize: none;
}

.contact-us .container>div input[type="submit"] {

  border-radius: 20px;
  background-color: var(--main-color);
  border-radius: 5px;
  border: 2px solid var(--main-color);
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;
  transition: var(--main-transtion);
}

.contact-us .container>div input[type="submit"]:hover {
  background-color: transparent;
  box-shadow: 0px 0px 10px var(--main-color);
}

@media (max-width : 995px) {
  .contact-us .container {
    flex-direction: column;
    gap: 20px;
  }

  .contact-us .container>div {
    width: 100%;
  }

  .contact-us .container .cont-details {
    display: flex;
    font-size: 10px;
    gap: 10px;
  }
}

@media (max-width : 768px) {
  .contact-us .container {
    flex-direction: column;
    gap: 20px;
  }

  .container .services-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container .services-text>p {
    text-align: center;
  }

  .contact-us .container>div {
    width: 100%;
  }

  .contact-us .container .cont-details>div {
    width: 100%;
  }

  .contact-us .container .cont-details {
    flex-direction: column;
    align-items: center;
  }
}

/* End contact us */
/* Start Footer  */
.footer {
  background-image: radial-gradient(ellipse 300px 150px at center, #5cd2b845, black);
}

.footer .container div:first-child>p {
  width: 60%;
  text-align: center;
  margin: auto;
}

.footer .links li:hover a {
  color: white;
}

.footer .links li:hover {
  transform: scale(1);
}

@media (max-width : 768px) {
  .footer .links {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    place-content: center;
  }

  .footer .links li {
    text-align: center;
  }

  .footer .container div:first-child>p {
    width: 100%;
  }

  .footer .container p {
    text-align: center;
  }
}

/* End Footer  */